$apple-blossom: #ac4142;
$alto: #d0d0d0;
$bouquet: #aa759f;
$chelsea-cucumber: #90a959;
$cod-grey: #151515;
$conifer: #b5e853;
$dove-grey: #666;
$gallery: #eaeaea;
$grey: #888;
$gulf-stream: #75b5aa;
$hippie-blue: #6a9fb5;
$potters-clay: #8f5536;
$rajah: #f4bf75;
$raw-sienna: #d28445;
$silver-chalice: #aaa;

$test1: #4B1B8F;
$test2: #342174;
$test3: #21235C;
$test4: #0F2942;
$test5: #CD3AF5;
$testgray: #292929;

// Pallete: Center: #06020F
// #2C0433 #1F0433 #06020F #050433 #040F33

$darkpurple: #06020f;
$headercolour: #1F0433;
$comfygray: #cfd4da;
$darkcomfygray: #a7adb4;
$snippetcolor: #202020;
$darkgray: #27242c;

$showme: #db0a0d;